<div class="Stages Stages--thirds">
    <div class="Stages__Stage is-active" data-box-stage-01>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Box + Frequency
        </div>
    </div>
    <div class="Stages__Stage" data-box-stage-02>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Pick dishes
        </div>
    </div>
    <!-- <div class="Stages__Stage" data-box-stage-03>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Extras
        </div>
    </div> -->
    <div class="Stages__Stage" data-box-stage-04>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Add to cart
        </div>
    </div>
</div>