<div class="StagesBanner is-inactive">
  <p>{% render 'icon' with 'tick-only', classes: 'StagesBanner__Icon', fill_tick: '#fff' %} <span data-box-stages-complete>Yay!</span> You&rsquo;ve selected <span data-box-total>0</span> out of <span data-box-max-text>12</span> meals!</p>
  <button class="Button Button--small StagesBanner__Button" id="box-add-to-cart" disabled type="submit">Add to cart</button>
</div>