<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SweetPotatoAndCinnamon_V2_200x.png?v=1590562585" alt="Sweet Potato & Cinnamon Breakfast Bowl" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Sweet Potato &amp; Cinnamon Breakfast Bowl x1</h4>
      <p>Gluten Free Oats, Sweet Potato, Apple, Medjool Dates, Cinnamon</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_Blueberry_Lemon_200x.png?v=1590562322" alt="Blueberry & Lemon Breakfast Bowl" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Blueberry &amp; Lemon Breakfast Bowl x1</h4>
      <p>Gluten Free Oats, Blueberry, Banana, Chia Seeds, Lucuma Powder, Lemon Zest</p>
    </div>
  </div>
</div>

<!-- veggie millet -->
<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_VeggieMilletBites_V4_200x.png?v=1590562615" alt="Veggie Millet Bites" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Veggie Millet Bites x1 (5 bites)</h4>
      <p>Quinoa, Millet, Kale, Spinach, Carrot, Celery, Onion, Garlic, Curry Powder</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_LentilMeatballBites_200x.png?v=1590562549" alt="Lentil ‘Meatball’ Bites" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Lentil ‘Meatball’ Bites x1 (5 bites)</h4>
      <p>Green Lentils, Gluten-Free Oats, Vegetables (Carrot, Onion, Garlic), Tomato, Parsley, Oregano, Flaxseed</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_ChickpeaPanisse_200x.png?v=1590562450" alt="Chickpea Panisse" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Chickpea Panisse x1 (5 bites)</h4>
      <p>Chickpea Flour, Lemon Oil, Sumac, Black Pepper</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_HeartyVeg_Quinoa_200x.png?v=1590562737" alt="Hearty Veg & Quinoa" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Hearty Veg &amp; Quinoa x1</h4>
      <p>Kale, Mushroom, Cooked Quinoa, Sweet Potato, Turmeric, Garlic, Cold-Pressed Avocado Oil</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_FirstRatatouille_V2_400x.png?v=1590562475" alt="First Ratatouille" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">First Ratatouille x1</h4>
      <p>Aubergine, Courgette, Red Pepper, Chickpeas, Cold-Pressed Avocado Oil, Garlic, Basil</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_MedVeg_RedLentil_200x.png?v=1590562773" alt="Med Veg & Red Lentil" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Med Veg &amp; Red Lentil x1</h4>
      <p>Aubergine, Spinach, Mushroom, Red Lentil, Garlic, Cold-Pressed Avocado Oil</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SpringGreens_Chia_200x.png?v=1590562836" alt="Spring Greens & Chia" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Spring Greens &amp; Chia x1</h4>
      <p>Courgette, Leek, Garden Peas, Chia Seeds, Mint, Cold-Pressed Avocado Oil</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SweetPotatoBetroot_Date_V2_200x.png?v=1590562868" alt="Sweet Potato, Beetroot & Date" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Sweet Potato, Beetroot &amp; Date x1</h4>
      <p>Sweet Potato, Beetroot, Medjool Dates, Ceylon Cinnamon, Coconut Butter</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_WhiteBeansCauliflowerRosemary_V2_200x.png?v=1590562678" alt="White Beans, Cauliflower & Rosemary" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">White Beans, Cauliflower &amp; Rosemary x1</h4>
      <p>White Beans, Cauliflower, Kale, Cold-Pressed Avocado Oil, Rosemary</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_CarrotCauliflowerCumin_V3_200x.png?v=1590562390" alt="Carrot, Cauliflower, Cumin" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Carrot, Cauliflower, Cumin x1</h4>
      <p>Carrot, Cauliflower, Cooked Buckwheat, Flaxseed Oil, Cumin</p>
    </div>
  </div>
</div>
