<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_VeggieMilletBites_V4_200x.png?v=1590562615" alt="Veggie Millet Bites" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Veggie Millet Bites x4 (20 bites)</h4>
      <p>Quinoa, Millet, Kale, Spinach, Carrot, Celery, Onion, Garlic, Curry Powder</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_LentilMeatballBites_200x.png?v=1590562549" alt="Lentil ‘Meatball’ Bites" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Lentil ‘Meatball’ Bites x4 (20 bites)</h4>
      <p>Green Lentils, Gluten-Free Oats, Vegetables (Carrot, Onion, Garlic), Tomato, Parsley, Oregano, Flaxseed</p>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_ChickpeaPanisse_200x.png?v=1590562450" alt="Chickpea Panisse" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Chickpea Panisse x4 (20 bites)</h4>
      <p>Chickpea Flour, Lemon Oil, Sumac, Black Pepper</p>
    </div>
  </div>
</div>
