<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SweetPotatoAndCinnamon_V2_200x.png?v=1590562585" alt="Sweet Potato & Cinnamon Breakfast Bowl" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Sweet Potato &amp; Cinnamon Breakfast Bowl x1</h4>
      <p>Gluten Free Oats, Sweet Potato, Apple, Medjool Dates, Cinnamon</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_Blueberry_Lemon_200x.png?v=1590562322" alt="Blueberry & Lemon Breakfast Bowl" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Blueberry &amp; Lemon Breakfast Bowl x2</h4>
      <p>Gluten Free Oats, Blueberry, Banana, Chia Seeds, Lucuma Powder, Lemon Zest</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_RaspberryAmaranthFlaxseed_V2_200x.png?v=1590562803" alt="Raspberry, Amaranth & Flaxseed" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Raspberry, Amaranth &amp; Flaxseed x1</h4>
      <p>Banana, Raspberry, Cooked Amaranth Grain, Coconut Butter, Ground Flaxseed</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SpringGreens_Chia_200x.png?v=1590562836" alt="Spring Greens & Chia" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Spring Greens &amp; Chia x1</h4>
      <p>Courgette, Leek, Garden Peas, Chia Seeds, Mint, Cold-Pressed Avocado Oil</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_KaleBananaCoconut_V4_200x.png?v=1590562509" alt="Kale, Banana & Coconut" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Kale, Banana &amp; Coconut x1</h4>
      <p>Banana, Cooked Fair-Trade Quinoa, Kale, Chia Seeds, Coconut Butter</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_SweetPotatoBetroot_Date_V2_200x.png?v=1590562868" alt="Sweet Potato, Beetroot & Date" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Sweet Potato, Beetroot &amp; Date x1</h4>
      <p>Sweet Potato, Beetroot, Medjool Dates, Ceylon Cinnamon, Coconut Butter</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_WhiteBeansCauliflowerRosemary_V2_200x.png?v=1590562678" alt="White Beans, Cauliflower & Rosemary" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">White Beans, Cauliflower &amp; Rosemary x1</h4>
      <p>White Beans, Cauliflower, Kale, Cold-Pressed Avocado Oil, Rosemary</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_CarrotAppleGinger_V2_200x.png?v=1590562361" alt="Carrot, Apple, Ginger" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Carrot, Apple, Ginger x2</h4>
      <p>Carrot, Apple, Ginger</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_CarrotMangoTurmeric_V2_200x.png?v=1590562418" alt="Carrot, Mango, Turmeric" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Carrot, Mango, Turmeric x1</h4>
      <p>Carrot, Mango, Cooked Amaranth Grain, Turmeric, Coconut Butter</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-md-6">
  <div class="bundle__contents">
    <div class="contents__image">
      <img loading="lazy"src="https://cdn.shopify.com/s/files/1/0013/5489/1375/products/Mamamade_CarrotCauliflowerCumin_V3_200x.png?v=1590562390" alt="Carrot, Cauliflower, Cumin" width="100" />
    </div>
    <div class="contents__copy">
      <h4 class="Heading Heading__h4">Carrot, Cauliflower, Cumin x1</h4>
      <p>Carrot, Cauliflower, Cooked Buckwheat, Flaxseed Oil, Cumin</p>
    </div>
  </div>
</div>
