<div class="StagesBanner is-inactive">
    <p>{% render 'icon' with 'tick-only', classes: 'StagesBanner__Icon', fill_tick: '#fff' %} <span data-box-stages-complete class="is-complete">Yay!</span> We have found you the perfect programme!</p>
</div>