<div class="Stages Stages--thirds">
    <div class="Stages__Stage is-active" data-programme-stage-01>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Your info
        </div>
    </div>
    <div class="Stages__Stage" data-programme-stage-02>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Your <br>programme
        </div>
    </div>
    <div class="Stages__Stage" data-programme-stage-03>
        {% render 'icon' with 'tick', classes: 'Stages__Icon', fill: settings.color_brand_primary, fill_tick: '#fff', fill_alt: '#fff' %}
        <div class="Stages__Label">
            Add-ons + <br>add to cart
        </div>
    </div>
</div>