<section data-section-id="login" data-section-type="login">
  <div class="probootstrap-section-half">
    {% render 'login' %}

    {% render 'register' %}

  </div>

  {% section 'featured-text-image-account' %}
</section>
