<section data-section-id="reset-password" data-section-type="reset-password">
  <div class="probootstrap-section-half">

    {% render 'register-cart' %}

  </div>

  {% section 'register-collection' %}

  {% section 'featured-text-image-account' %}
</section>
