{% layout none %}

<div class="Container text-center">
  <h2 class="GroupPanel__Title Heading u-h2">Feel free to add to your box before you order!</h2>
</div>

<div class="ProgrammeStage__inner">

  <div class="Container">

    {% section 'collection-upsell' %}

  </div>

</div>